h1 {
    border: 2px #eee solid;
    color: rgb(42, 165, 69);
    text-align: center;
    padding: 10px;
}
img {
    width: 100vw;
    height: auto;
    max-width: none;
    max-height: 100vh;
    object-fit: contain;
}
table, th, td 
{
    border: 1px solid black;
}
th, td {
    padding: 15px;
    text-align: left;
}



#dollaramount {
    color: rgb(32, 74, 209)
}